/* LEFT STACKED IMAGES */

.contact-clip-path-1 {
    width: 100%;
    height: 200px;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.contact-clip-path-2 {
    width: 100%;
    height: 200px;
    overflow: hidden;
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
}

/* CHARACTER CUT SHAPE */

.sword-man-clip-path {
    width: 100%;
    height: 100%;
    overflow: hidden;
    clip-path: polygon(18% 0%,
            82% 0%,
            100% 20%,
            100% 80%,
            82% 100%,
            18% 100%,
            0% 80%,
            0% 20%);
}

/* RESPONSIVE FIX */
@media(max-width:768px) {
    .sword-man-clip-path {
        clip-path: none;
    }
}