.video-preview-container{
  position:absolute;
  inset:0;
  z-index:50;
  overflow:hidden;
  border-radius:8px;
  perspective:500px;
}

.video-preview-content{
  transform-style:preserve-3d;
  transform-origin:center;
  border-radius:8px;
}